body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Container responsive settings */
.container {
    width: 100%;
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* HEADER */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo {
    display: block;
    padding: 16px 0;
}

@media screen and (min-width: 768px) {
    .logo {
        padding: 24px 0;
    }
}

.header-logo-color {
    color: #2e2f42;
}

/* Desktop and tablet navigation */
.header-menu,
.address {
    display: none;
}

@media screen and (min-width: 768px) {

    .header-menu,
    .address {
        display: flex;
    }

    .header-logo {
        margin-right: 120px;
    }

    .header-menu {
        gap: 40px;
        align-items: center;
    }

    .header-menu-link {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-menu-link:hover,
    .header-menu-link:focus {
        color: #404bbf;
    }

    .header-menu-link-one {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        position: relative;
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: block;
        padding: 24px 0;
    }

    .header-menu-link-one::after {
        display: block;
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        
    }

    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-list-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-list-link:hover,
    .address-list-link:focus {
        color: #404bbf;
    }
    
    
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .address-list {
        flex-direction: row;
        gap: 40px;
    }

    .address-list-link {
        padding: 24px 0;
        font-size: 16px;
        letter-spacing: 0.02em;
        line-height: 1.5;
    }
}

/* Mobile menu button */
.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    stroke: #2f2f37;
    height: 24px;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }
}

/* Mobile menu */
.burger-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 100;
}

.burger-menu-is-opn {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.burger-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 72px;
    padding-bottom: 40px;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
}

.btn-mbl {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
}

.mobl-nav {
    margin-bottom: auto;
}

.mob-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mob-link {
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-link-active {
    color: #404bbf;
}

.mobile-adrss {
    display: block;
    font-style: normal;
    margin-bottom: 48px;
}

.mobile-adr-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.mob-cnt-link {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-cnt-link:hover,
.mob-cnt-link:focus,
.mob-link:hover,
.mob-link:focus {
    color: #404bbf;
}

.socl-icon-menu {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.socl-icon-item {
    width: 40px;
    height: 40px;
}

.socl-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socl-icon-link:hover,
.socl-icon-link:focus {
    background-color: #404bbf;
}

.socl-icon {
    fill: #f4f4fd;
}

/* HERO SECTION */
.hero {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/mobile/people-office-mob.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    padding: 72px 0;
    max-width: 428px;
    height: 432px;
}

@media screen and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/mobile/people-office-mob-2x.jpg");
    }
}

.hero-space {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.hero-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 72px;
    max-width: 216px;
}

.button-order {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #4d5ae5;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.button-order:hover,
.button-order:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/tablet/people-office-tab.jpg");
        max-width: 768px;
        padding: 112px 0;
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
    }

    @media screen and (min-resolution: 192dpi) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url("../images/tablet/people-office-tab-2x.jpg");
        }
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        max-width: 1440px;
        height: 600px;
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/desk/people-office.jpg");
    }

    .hero-title {
        margin-bottom: 48px;
    }

    @media screen and (min-resolution: 192dpi) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url("../images/desk/people-office-2x.jpg");
        }
    }
}

/* BENEFITS SECTION */
.benefits {
    padding-top: 96px;
    padding-bottom: 96px;
}

.benefits-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.benefits-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.benefits-img {
    display: none;
}

.benefits-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .benefits-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        row-gap: 72px;
    }

    .benefits-subtitle {
        text-align: start;
    }
}

@media screen and (min-width: 1158px) {
    .benefits {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .benefits-list {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .benefits-item {
        width: calc((100% - 72px) / 4);
    }

    .benefits-img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
    }

    .benefits-subtitle {
        text-align: start;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

    .benefits-item-text {
        font-weight: 400;
    }
}

/* TEAM SECTION */
.team {
    background-color: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.team-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    max-width: 264px;
}

.people-text {
    padding: 32px 0;
}

.team-people {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.team-icons-ul {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.t-i-first {
    width: 40px;
    height: 40px;
}

.icon-team-a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-team-a:hover,
.icon-team-a:focus {
    background-color: #404bbf;
}

.team-icon-media {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 64px;
    }

    .team-item {
        max-width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .team {
        padding: 120px 0;
    }

    .team-list {
        flex-wrap: nowrap;
    }

    .team-item {
        width: calc((100% - 72px) / 4);
    }
}

/* PORTFOLIO SECTION */
.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 48px;
}

.portfolio-item {
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item-picture {
    position: relative;
    overflow: hidden;
}

.portfolio-text-animation {
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #4d5ae5;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-text-animation {
    transform: translateY(0%);
}

.portfolio-discribe {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    text-align: start;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio {
        padding: 120px 0;
    }

    .portfolio-list {
        row-gap: 48px;
    }

    .portfolio-item {
        width: calc((100% - 48px) / 3);
    }
}

/* FOOTER */
.footer {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.container-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-link {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
}

.footer-link-color {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
    margin-bottom: 72px;
    text-align: start;
}

.container-footer-2 {
    margin-bottom: 72px;
}

.social-p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-icons-ul {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.f-i-first {
    width: 40px;
    height: 40px;
}

.icon-footer-a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-footer-a:hover,
.icon-footer-a:focus {
    background-color: #31d0aa;
}

.footer-icon-media {
    fill: #f4f4fd;
}

.subscr-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.sssbs-inpt {
        width: 288px;
            height: 40px;
            border: 1px solid #ffffff;
            color: #ffffff;
            background-color: transparent;
            border-radius: 4px;
            font-size: 12px;
            line-height: 2;
            letter-spacing: 0.04em;
            padding-left: 16px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            opacity: 0.3;
}

.sssbs-inpt::placeholder {
    color: #fff;
}

.sbscr-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sbscr-btn:hover,
.sbscr-btn:focus {
    background-color: #404BBF;
}

.plane-imag {
    margin-left: 16px;
    fill: #fff;
}

@media screen and (min-width: 768px) {
    .container-footer {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
        padding-left: 108px;
    }

    .container-footer-1 {
        margin-right: 24px;
    }

    .container-footer-2 {
        margin-bottom: 72px;
    }

    

    .subscr-form {
        flex-direction: row;
        gap: 24px;
    }

    .sssbs-inpt {
        width: 264px;
    }
}

@media screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }

    .container-footer {
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-left: 0;
    }

    .container-footer-1 {
        margin-right: 120px;
    }

    .container-footer-2 {
        margin-bottom: 0;
    }

    .send {
        margin-left: 80px;
    }
}

/* MODAL */
.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 100;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 95%;
    max-width: 392px;
    min-height: 584px;
    border-radius: 4px;
    background-color: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    padding: 0;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
}

.close-btn {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;
}

.modal-close:hover .close-btn,
.modal-close:focus .close-btn {
    fill: #ffffff;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    }